<%= form_with(model: profile, local: true) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-wrapper">
    <div class="form-row">
      <%= form.label :first_name %>
      <%= form.text_field :first_name %>
    </div>

    <div class="form-row">
      <%= form.label :last_name %>
      <%= form.text_field :last_name %>
    </div>

    <div class="form-row"> 
      <%= form.label :image_data %>
      <%= form.hidden_field :image, value: profile.cached_image_data %>
      <%= form.file_field :image %>
    </div>

    <div class="form-row">
      <%= form.label :phone %>
      <%= form.text_field :phone %>
    </div>

    <div class="form-row">
      <%= form.label :street_address %>
      <%= form.text_field :street_address %>
    </div>

    <div class="form-row">
      <%= form.label :city %>
      <%= form.text_field :city %>
    </div>

    <div class="form-row">
      <%= form.label :state %>
      <%= form.collection_select :state, State.all, :name, :name, prompt: true %>
    </div>

    <div class="form-row">
      <%= form.label :postcode %>
      <%= form.text_field :postcode %>
    </div>

    <div class="form-row">
      <%= form.label :country_code %>&nbsp;
      <%= form.country_select :country_code, priority_countries: ['AU', 'NZ', 'KR'] %>
    </div>

    <br />
    <div class="form-action">
      <%= form.submit class: "action_btn" %>
    </div>

  </div>
<% end %>

