<h1>Profile Details</h1>

<div class="profile_details">
  <p>
    <strong>Email:</strong>
    <%= @profile.user.email %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @profile.full_name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= @profile.phone %>
  </p>

  <p>
    <strong>Street address:</strong>
    <%= @profile.street_address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= @profile.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= @profile.state %>
  </p>

  <p>
    <strong>Postcode:</strong>
    <%= @profile.postcode %>
  </p>

  <p>
    <strong>Country code:</strong>
    <%= @profile.country_code %>
  </p> 

  <% if @profile.image.present? %>
    <%= image_tag @profile.image_url(:medium) %>
  <% end%>
  
  <%= google_map_image_tag(@profile) %>

  <br><br>
  <%= link_to 'Edit', edit_profile_path(@profile) %> |
  <%= link_to 'Back', profiles_path %>

</div>
