<p id="notice"><%= notice %></p>

<h1>My Posts</h1>

<% if @tasks.count > 0 %>
  <table class="center">
    <thead>
      <tr>
        <th>Category</th>
        <th>Title</th>
        <th>Image</th>      
        <th>Delivery addr</th>
        <th>Pickup addr</th>
        <th>Price</th>
        <th>Pickup time</th>
        <th>Status</th>
        <th>Driver</th>
        <th>Menu</th>
      </tr>
    </thead>

    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= task.main_category.name %></td>
          <td><%= task.title %></td>
          <td>
            <% if task.image.present? %>
              <%= image_tag task.image_url(:thumb) %>
            <% else %>
              <%= image_tag "nophoto.png", class: "thumbimage" %>
            <% end%>
          </td>        
          <td><%= task.delivery_address %></td>
          <td><%= task.pickup_address %></td>
          <td>$<%= task.price_in_dollars %></td>
          <td><%= task.convert_timestamp(task.pickup_time) %></td>
          <td><%= task.status %></td>

        <td>
            <% if task.status != "posted" %>
                <%= task.driver.profile.first_name %>
            <% end %>
        </td>
          <td><%= link_to 'Show', task %></td>
        </tr>
      <% end %>  <!-- end of each loop -->
    </tbody>
  </table>
<% else %>  <!-- when there is no tasks -->
  <h2 class="nodata">No Tasks posted!</h2>
<% end %>

<div class="links">
  <%= will_paginate @tasks %>
</div>