<p id="notice"><%= notice %></p>

<h1>Task Details</h1>
<br>

<div class="row">
 <% if @task.image.present? %>
    <%= image_tag @task.image_url(:medium) %>
  <% end%>

  <div class="info_column">
    <p>
      <strong>User:</strong>
      <%= @task.user.profile.first_name %>
    </p>

    <p>
      <strong>Main category:</strong>
      <%= @task.main_category.name %>
    </p>

    <p>
      <strong>Title:</strong>
      <%= @task.title %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @task.body %>
    </p>

    <p>
      <strong>Delivery address:</strong>
      <%= @task.delivery_address %>
    </p>

    <p>
      <strong>Pickup address:</strong>
      <%= @task.pickup_address %>
    </p>

    <p>
      <strong>Price:</strong>
      <%= @task.price_in_dollars %>
    </p>

    <p>
      <strong>Pickup time:</strong>
      <%= @task.pickup_time %>
    </p>

    <p>
      <strong>Status:</strong>
      <%= @task.status %>
    </p>

    <p>
      <strong>Driver:</strong>
      <% if @task.status == "accepted" %>
        <%= @task.driver.profile.first_name %>
      <% end %>
    </p>
  </div>  <!-- end of info_column -->

  <%= google_map_image_tag(@task.user.profile) %>

</div>  <!-- end of row -->

<br>
<div class="links">
  <% if current_user != @task.user %>
    <% if @task.watched?(current_user.id, @task.id) %>
      <!-- the second arg 1 is for commimng back to task index page after delete watchlist -->
      <%= link_to 'Unwatch', delete_watchlist_path(@task, 1), method: :delete, class: "link_btn" %>
    <% else %>
      <%= link_to 'Watch', add_watchlist_path(@task), method: :post, class: "link_btn" %>
    <% end %>
    <%= link_to 'Accept', accept_task_path(@task), method: :patch, class: "link_btn" %>
  <% end %>
    <%= link_to 'Assign', assign_task_path(@task), method: :patch, class: "link_btn" %>
    <%= link_to 'Complete', complete_task_path(@task), method: :patch, class: "link_btn" %>
    <%= link_to 'Edit', edit_task_path(@task), class: "link_btn" %>
    <%= link_to 'Back', tasks_path, class: "link_btn" %>
</div>
