<h1>Contact PickItUp!</h1>

<div class="contact">
    <div class="contact-container">
        <div class="box">
            <%= form_for :contact do |f| %>
                <div class="inputBox">  
                    <%= f.text_field :name, class: 'name' %>
                    <%= f.label :name %>
                </div>
                
                <div class="inputBox">
                    <% if current_user %>
                        <%= f.text_field :email1, value: current_user.email, class: 'email' %>
                    <% else %>
                        <%= f.text_field :email1, class: 'email' %>
                    <% end %>
                    <%= f.label :email %>
                </div>    

                <div class="inputBox">
                    <%= f.text_area :message, class: 'message' %>
                    <%= f.label :message %>
                </div>

                <div>
                    <%= f.submit 'SEND' %>
                </div>

            <% end %>
        </div>

    </div>
</div>